.home{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 80vh;
}
.home__container{
    text-align: center;
}
.home__container > input,textarea{
    width: 250px;
    padding: 15px 10px;
    font-size: 20px;
    outline: none;
    border: 1px solid rgb(192, 188, 188);
    border-radius: 5px;
    resize: none;
}
.home__container > button{
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px 5px;
    font-size: 15px;
    background-color: rgba(124, 197, 14);
    color: white;
    cursor: pointer;
}